@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
   font-family: 'Outfit', sans-serif;
}

.navbar-brand {
    font-family: 'Aclonica', sans-serif;
    letter-spacing: 1px;
}

.profile-form {
    width: 95%;
}

.profile-input {
    width: 75%;
}

@media (max-width: 1399.98px) {
    .profile-form {
        width: 100%;
    }

    .profile-input {
        width: 95%;
    }
}

.profile-label {
    font-weight: bold;
}

.profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.ad-img {
    width: 50%;
    height:50%;
}

.lead-img {
    width: 50%;
    height: 50%;
}
