@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
   font-family: 'Outfit', sans-serif;
}

.ad-img {
    width: 50%;
    height:50%;
}

.lead-img {
    width: 70%;
    height: 70%;
}
